
<h2> All Ideas: </h2>
  <div class="carousel slide" id="myCarousel" style="width: 600px">
    <ol class="carousel-indicators">
        <% @ideas.each do |idea| %>
            <li data-target="#myCarousel" data-slide-to "<%= idea %>">
          <% end %>
    </ol>

    <div class="carousel-inner" role="listbox">
      <% @ideas.each do |idea| %>
        <div class="item <%= 'active' if idea == @ideas[0] %>">
            <% if idea.images.first.nil? %>
                <% next %>
            <%else%>
                <img src="<%= idea.images.first.url %>">
            <% end %>
              <div class="carousel-caption d-none d-md-block">
                      <h3><%= link_to idea.title, user_idea_path(idea.user, idea) %> </h3>
                      <p><%= idea.description %> </br></br><p>
                        <%= link_to "Edit", edit_user_idea_path(idea.user, idea) %>
                        <%= link_to "Delete", user_idea_path(idea.user, idea), method: :delete%> </br> </br>
                </div>
          </div>
      <% end %>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  <%= link_to "Create an Idea", new_user_idea_path %>
